version: "3.8"
services:
  backend:
    build: ../../apps/backend
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    depends_on:
      - chromadb
  frontend:
    build: ../../apps/frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
  chromadb:
    image: chromadb/chroma
    ports:
      - "8001:8000"
    volumes:
      - chroma_data:/data/chroma

volumes:
  chroma_data:
